.color {
background-color: azure;
   color: #74b357
}
.round {
   border-radius: 50%;
   width: 320px;
    height:250px;
  }
.text {
   background-color: orange;
   font-size: 30px;
   border: 1px solid black;
   padding: 10px;
}
